img.ab-miguel{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 5px solid white;
    box-shadow: 2px 5px 5px rgba(147, 147, 209, 0.459);
    transition: width ease-in-out 1s, height ease-in-out 1s, filter ease-in-out 1s;
}

img.ab-miguel:hover{
    width: 100px;
    height: 100px;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(121, 127, 209, 0.2));
    
}

a:hover{
    text-decoration: none;
    text-decoration-style: none;
}

p.desc{
    font-family: 'Calibri', sans-serif;
    color: rgb(40, 40, 58);
    font-size: 70%;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 10%;
    width: 80%;
    text-align: justify;
    /* background-color: aqua; */
    /* margin-left: auto; */
}

h1#carreerb,h1#carreerc{
    cursor: pointer;
    text-align: left;
    padding-left: 10%;
    font-family: 'Lato', sans-serif;
    font-size: 26pt;
}

div#baixo-esq{
    width: 50%;
    float: left;
}

p#linkproj{
    padding: 8%;
    color: #bcbfd1;
    font-family: 'Calibri' sans-serif;
    font-size: 2vh;
}

div#baixo-esq-cima{
    
    animation: surgir2;
    animation-duration: 3s;
    background-color: blueviolet;
    padding: 4%;
    border-radius: 40px;
}

div#baixo-esq-cima ul li{
    color: aliceblue;
    opacity: 1;
    animation: surgir;
    animation-duration: 4s;
    padding: 10px;
    margin-bottom: 10px;
    /* margin: auto; */
    margin-left: 8%;
    text-align: left;
    font-size: 130%;
    /* background-color: blue;   */
    /* list-style: none; */
}

div#baixo-dir ul li{
    color: rgb(139, 134, 100);
    opacity: 1;
    animation: surgir;
    animation-duration: 4s;
    padding-bottom: 25px;
    text-align: left;
    /* background-color: aquamarine; */
}

div#baixo-dir{
    width: 45%;
    font-size: 14pt;
    float: right;
    animation: surgir2;
    animation-duration: 3s;
    background-color: rgb(7, 18, 37);
    padding: 20px 20px 0px 20px;
    border-radius: 30px 0px 30px 30px;
}

div.tudo{
    /* background-color: aquamarine; */
    width: 88%;
    margin: auto;
    padding-bottom: 30px;
}

div#timeline{
    /* background-color: tomato; */
    bottom: 0;
}

img.icon-apps{
    width: 10%;
    transition: .4s ease-in-out;
}

img.icon-apps:hover{
    transform: rotate(-10deg);
    transition: transform .2s ease-in-out;
}

img.icon-lan{
    width: 8%;
    transition: transform .2s ease-in-out;
}

img.icon-lan:hover{
    transform: scale(1.2);
    transition: transform .1s ease-in-out;
}

div.barra{
    width: 50%;
    height: 10px;
    float: right;
    background: repeating-linear-gradient(
        -55deg,
        rgb(39, 38, 38),
        rgb(39, 38, 38) 3px,
        rgb(39, 38, 38) 3px,
        rgb(116, 116, 116) 5px
      );
    border: #fff 1pt solid;
    animation: surgir3;
    animation-duration: .1s;
}

div.progressps{
    width: 80%;
    background-color: rgb(57, 140, 235);
    height: 7.2px;
    border-radius: 0;
    animation: abrirprogressps;
    animation-duration: 5s;
}

div.progressai{
    width: 55%;
    background-color: rgb(57, 140, 235);
    height: 7.2px;
    border-radius: 0;
    animation: abrirprogressai;
    animation-duration: 5s;
}

div.progressid{
    width: 30%;
    background-color: rgb(57, 140, 235);
    height: 7.2px;
    border-radius: 0;
    animation: abrirprogressid;
    animation-duration: 5s;
}

div.progressae{
    width: 20%;
    background-color: rgb(57, 140, 235);
    height: 7.2px;
    border-radius: 0;
    animation: abrirprogressae;
    animation-duration: 5s;
}

li.tools{
    list-style: none;
    font-family: 'Calibri', sans-serif;
    font-size: 18pt;
}

li.lan{
    display: inline;
    padding-right: 10px;
    font-family: 'Calibri' sans-serif;
    font-size: 98%;
}    

section{
    display: inline-block;
    width: 100%;
    /* height: 80%; */
}

img.icon-freel{
    width: 12%;
    margin: auto;
}

img.icon-acad{
    width: 80px;
    padding-bottom: 25px;
    transition: transform .2s ease-in-out;
}

img.icon-grad{
    width: 50px;
    transition: transform .2s ease-in-out;
}

img.icon-acad1{
    width: 83px;
    padding-bottom: 25px;
    transition: transform .2s ease-in-out;
}

img.icon-setab, img.icon-setac{
    width: 20px;
    opacity: .5;
}

img.icon-acad:hover, img.icon-acad1:hover, img.icon-grad:hover{
    transform: scale(1.2);
    transition: transform .3s ease-in-out;
}

p#ab-titulo-dir{
    font-family: "Baskerville", serif;
    font-size: 32pt;
    font-style: bold;
    padding: 4% 0 0 0;
    color: rgb(104, 93, 93);
    /*background-color: rgb(76, 171, 235);*/
    float: right;
}

#baixo{
    background-color: rgb(81, 81, 107);
    /* position: relative; */
    margin: auto;
    width: 88%;
    height: 570px;
    display: none;
    animation: abrir;
    animation-duration: 1s;
    border-radius: 0px 0px 20px 20px;
    padding: 20px 20px 20px 20px;
    /* transition: all .5s ease-in-out; */
}

h1#skill{
    font-size: 18pt;
    color: rgb(187, 159, 124);
}

#cima{
    background-color: rgba(151, 151, 151, 0.315);
    /* position: relative; */
    border-radius: 0 0 20px 20px;
    margin: auto;
    width: 88%;
    height: 300px;
    padding-top: 20px;
    display: block; /* alterar aqui */ 
    font-family: Roboto;       
}

div#cima-esq{
    width: 45%;
    /* height: 90%; */
    margin: auto;
    float: left;
    margin-left: 4%;
    margin-top: 2.5%;
    /* background-color: antiquewhite; */
}

div#cima-esq ul li{
    list-style: none;
    text-align: left;
    transition: font-size .2s ease-in-out;
}


div#cima-esq ul li:hover{
    font-size: 16pt;
    color: black;
    transition: font-size .2s ease-in-out;
}

p.univ{
    font-size: 9pt;
    text-align: left;
    padding-left: 12%;
    opacity: .4;
}

p.univ:hover{
    opacity: .72;
}

html{
    scroll-behavior: smooth;
}

div#cima-dir{
    width: 42%;
    float: right;
    margin: auto;
    font-family: 'Roboto';
    /* height: 80%; */
    margin-right: 4%;
    /* background-color: aquamarine; */
}

div#cima-dir ul li{
    list-style: none;
    /* margin-right: 120px; */
    margin: 5%;
    margin-right: 2%;
    text-align: center;
    display: inline;
    /* margin-top: 10px; */

}

#cima-dir h1{
    font-size: 2.3vh;
    padding: 0 5px 5px 5px;
    text-align: center;
}

#timeline h1{
    margin: 1% 0 0 0;
    font-size: 2.3vh;
}

div#barra{
    width: 40%;
    height: 6px;
    float: right;
    margin-right: 4%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: rgb(81, 103, 124);
}

div#rodape{
    height: 280px;
}

.losang{
    /* position: relative; */
    margin: -52px 0px 0px 0px;
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border: solid 2px #1f254b;
    background-color: #bcbfd1;
}

div.circ{
    margin: -50px 0 0px 0;
    width: 19px;
    height: 19px;
    border-radius: 90px;
    background-color: rgb(214, 214, 214);
    border: solid 3px rgb(28, 30, 61);
}

ul.timelin li{
    display: inline-block;
    padding-left: 20px;
}

div#losang1{
    margin-left: -10px;
}

div#losang2{
    margin-left: -30px;
}
div#losang3{
    margin-left: -36px;
}
div#losang4{
    margin-left: 10px;
}
div#losang5{
    margin-left: 12px;
}

span#losan2{
    display: none;
    margin-left: -26px;
}
span#losan3{
    display: none;
    margin-left: -38px;
}
span#losan4{
    display: none;
    margin-left: -23px;
}
span#losan5{
    display: none;
    margin-left: -13px;
}

div#circ1{
    position: relative;
    margin-right: 10px;
    margin-top: -55px;
    /* margin-top: -20px; */
    /* margin-top: -5px; */
    /* margin-left: 5%; */
}

div#losang1:hover > span#losan1{
    display: block;
    opacity: 1;
    transition: opacity .3s ease-in-out;
}

div#circ2{
    /* position: relative; */
    /* float: right; */
    margin-right: 50px;
    margin-top: -55px;
}

div#circ3{
    position: relative;
    /* float: right; */
    margin-left: -10px;
    margin-top: -55px;
}

li.los1:hover span#losan1,li.los2:hover span#losan2,
li.los3:hover span#losan3,li.los4:hover span#losan4,li.los5:hover span#losan5,
li.cir1:hover span#grad1,li.cir2:hover span#grad2,
li.cir3:hover span#grad3{
    display: block;
    /* opacity: 1; */
    /* transition: opacity .3s ease-in-out; */
}

p#pcirc2{
    margin-left: -35px;
}
p#pcirc3{
    margin-left: -10px;
}

div#circ4{
    position: relative;
    /* float: right; */
    margin-right: 32%;
}

p.pcirc,p.plosang{
    font-size: 8pt;
    margin-top: 20px;
    margin-left: -10px;
    text-decoration: none;
}

p#plosang1{
    margin-left: -20px;
}
p#plosang2{
    margin-left: -58px;
}
p#plosang3{
    margin-left: -28px;
}
p#plosang4{
    margin-left: 2px;
}
p#plosang5{
    margin-left: 0px;
}

span#losan1{
    display: none;
    margin-left: -44px;
    /* opacity: 0; */
}

li.los:hover .publ{
    display: block;
    transition: transform .4s ease-in-out;
}

.losango{
	/* relative para nossos elementos não fugirem */
	position:relative;
	/* escolhemos o tamanho do nosso losango */
	width: 5px;
	height: 14px;
}
.losango::after{
	/* content é OBRIGATÓRIO, se não tiver, o pseudo-elemento
	   não será renderizado no DOM. */
	content:'';
	position: absolute  ;
	/* importante, a direção de alinhamento(bottom, top, right, left)
	   tem que ser declarada no mesmo sentido que a nossa borda "colorida"
	   o valor 70 é a metade da altura do losango, se o losango
	   estivesse deitado, seria metade da largura, 
	   e alinhado ao left+border-left "colorida" */
	bottom: 7px;
	border-bottom: 7px solid #192314;
	border-left: 5px solid transparent;
	border-right:5px solid transparent;
}
.losango::before{
	content:'';
	position: absolute;
	/* alinha ao top, borda no top "colorida" */
	top: 7px;
	border-top: 7px solid #192314;
	border-left: 5px solid transparent;
	border-right:5px solid transparent;
}

span.publ{
    background-color: #1f254b;
    color: wheat;
}

span#grad3{
    display: none;
    margin-top: -60px;
    margin-left: 8px;
    width: 85px;
    height: 40px;
    /* opacity: 0; */
}

span#grad3::before{
    /* opacity: 0; */
    content: '';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f4f4f4;
    position: absolute;
    top: 40px;
    left: 43%;
}

span.publ::before {
    /* opacity: 0; */
    content: '';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1f254b;
    position: absolute;
    top: 25px;
    left: 43%;
}

a.datatim{
    color: #888;
}

a.links{
    color: rgb(25, 84, 139)
}

span{
    display: none;
    text-align: center;
    line-height: normal;
    position: absolute;
    margin: -40px 0px 0px -30px;
    font-size: 6.8pt;
    background-color: white;
    width: 80px;
    height: 25px;
    border-radius: 20px;
    /* display: none; */
    /* opacity: 0; */
}

span::before {
    /* opacity: 0; */
    content: '';
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f4f4f4;
    position: absolute;
    top: 25px;
    left: 43%;
}

div#baixo-esq-baixo{
    padding: 1%;
}

footer.foot{
    position: static;
    bottom: 0;
}

/* @keyframes abrir{
    0% {height: 0;}
    100% { height: 300px;}
}*/

@keyframes abrirprogressps{
    0%{ width: 0%; }
    100% { width: 80%;}
}

@keyframes abrirprogressai{
    0%{ width: 0%; }
    100% { width: 55%;}
}

@keyframes abrirprogressid{
    0%{ width: 0%; }
    100% { width: 30%;}
}

@keyframes abrirprogressae{
    0%{ width: 0%; }
    100% { width: 20%;}
}

@keyframes surgir{
    0% {opacity: 0;}
    100% { opacity: 1;}
}

@keyframes surgir2{
    0% {opacity: 0;}
    12% {opacity: 0;}
    100% { opacity: 1;}
}  

@keyframes surgir3{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% { opacity: 1;}
}  

@media screen and (max-width: 800px){
    div#rodape{ 
            height: 40%;
    }
  }

  @media screen and (max-width: 600px){
    div#rodape{ 
            height: 20%;
    }
  }

@media (max-width:1470px){
    div#cima{
        height: 430px;
    }
    div#cima-esq{
        width: 50%;
        /* background-color: tomato; */
        float: left;
        display: grid;
    }
    div#cima-dir{
        width: 45%;
        float: right;
        margin: auto;
        /* background-color: brown; */
        /* height: 30%; */
        display: grid;
    }
    div#timeline{
        float: none;
        margin: auto;
        height: 20%;
        bottom: 0;
        /* background-color: yellowgreen; */
        width: 80%;
        display: grid;
    }
    div#barra{
        position: relative;
        width: 100%;
    }
}

  @media (max-width:900px){
    div#cima ul{
        /* background-color: red; */
        display: block;
    }
    div#baixo{
        height: 600px;
    }
}

@media (max-width:840px){
    div#cima-esq,div#cima-dir{
        height: 50%;
    }
    div#timeline{
        /* background-color: tomato; */
        height: 20%;
        margin-top: 40%;
    }
}

@media (max-width:780px){
    div#cima-esq{
        width: 90%;
        /* background-color: tomato; */
        float: none;
        display: grid;
    }
    div#cima-dir{
        width: 90%;
        float: none;
        margin: auto;
        /* background-color: brown; */
        height: 20%;
        display: grid;
    }
    div#timeline{
        float: none;
        margin: auto;
        height: 20%;
        bottom: 0;
        /* background-color: yellowgreen; */
        width: 90%;
        display: grid;
    }
    div#barra{
        position: relative;
        width: 100%;
    }
    div#cima{
        height: 650px;
    }
    div#baixo{
        height: 1150px;
    }
    div#baixo-esq,div#baixo-dir{
        width: 100%;
    }
}

@media (max-width:650px){
    div#timeline{
        width: 90%;
        margin-top: 0px;
        /* background-color: tomato; */
    }
    .circ,.losang{
        margin-left: 2px;
    }
    ul.timelin li{
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-left: 0;
    }
    li.circ1, li.circ2, li.circ3, li.circ4, 
    li.los1, li.los2, li.los3, li.los4,li.los5{
        /* margin-left: 1px; */
        width: 1%;
        margin: 0;
        padding: 0;
    }
}

@media (max-width:450px){
    div#baixo{
        height: 1250px;
    }
}

@media (max-width:405px){
    div#baixo{
        height: 1450px;
    }
}