div#socialmedia{
    margin: 5%;
    /* height: 180px; */
}

li.socialmed{
    display: inline;
    padding: 3%;
}

img.icon-social{
    opacity: .5;
    width: 2.6%;
    filter: grayscale(100%);
    transition: filter .2s ease-in-out;
}

img.icon-socialyou{
    opacity: .5;
    width: 6%;
    filter: grayscale(100%);
    transition: filter .2s ease-in-out;
}

img.icon-social:hover,img.icon-socialyou:hover,img.icon-socialface:hover{
    opacity: .9;
    filter: grayscale(0%);
    transition: filter .4s ease-in-out, opacity .4s ease-in-out;
}