*{
    padding: 0;
    margin: 0;
}

p#titulo-dir{
    font-family: "Baskerville", serif;
    font-size: 280%;
    font-style: bold;
    margin: auto;
    color: rgb(104, 93, 93);
    float: right;
    margin-right: 15%;
    padding-top: 2%;
}

div#subheader{
    /* background-color: red; */
    overflow: hidden;
    margin: auto;
    width: 55%;
    padding: 1.5%; 
    margin-bottom: 1.4%;
}

body{
    background-color: rgb(240, 239, 239);
    font: normal 15pt Arial;
    text-align: center;
    color: rgb(136, 121, 121);
}

img.miguel{
    border-radius: 100px;
    border: 5px solid white;
    box-shadow: 2px 5px 5px rgba(147, 147, 209, 0.459);
    
}

div img.miguel{
    width: 90px;
    height: 90px;
    transition: width ease-in-out 1s, height ease-in-out 1s, filter ease-in-out 1s;
    
}

div img.miguel:hover{
    width: 120px;
    height: 120px;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(121, 127, 209, 0.2));
}

header{
    width: 80%;
    margin: auto;

}

nav{  
    width: 80%;
    margin: auto;

}

ul.menu li{
    list-style: none;
    display: inline-block;
    padding: 15px;
    width: 23%;
    transition: background-image 1s ease-in-out;
  }

ul.menu li:hover{
    
    background-image: radial-gradient(rgba(228, 222, 222, 0.918) 30%, rgb(240, 239, 239) 80%);
    /* color: rgb(42, 42, 95); */
    text-decoration: none;
    transition: background-image 1s ease-in-out;
    cursor: pointer;
}

ul.menu li:hover a{
    color: rgba(42, 42, 95, 0.767);
    text-decoration: none;
}

  li.menuli {
    font-family: "Times New Roman", Times, serif;
    font-size: 20pt;

  }

  a.list{
    display: inline;
    color: rgba(45, 73, 134, 0.603);
}

a.list:hover{
    /* display: inline; */
    color: rgba(19, 34, 66, 0.603);
}

@media (max-width:1150px){
    div#subheader{
        width: 80%;
    }
}

@media (max-width:840px){
    div#subheader{
        width: 99%;
    }
}

@media (max-width:640px){
    div#ind-esquerda{
        width: 90%;
    }
    div#ind-direita{
        width: 90%;
        padding: 0;
        margin: auto;
    }
    div#pdf{
        width: 40%;
        float: left;
        margin-top: 2%;
        /* background-color: green; */
    }
    div#dividioma{
        /* top: 0; */
        width: 60%;
        /* background-color: red; */
        float: right;
        margin-top: 2%;
    }
}

@media (max-width:560px){
    ul.menu li{
        width: 100%;
        display: block;
    }
}