div#project2{
    background-color: rgb(43, 24, 54);
    width: 95%;
    height: 580px;
    margin: auto;
}
div#project{
    background-color: rgb(72, 57, 81);
    width: 95%;
    height: 580px;
    margin: auto;
}

div#project3{
  background-color: rgb(79, 27, 109);
  width: 95%;
  height: 580px;
  margin: auto;
} 

div.divfrontend{
  /* background-color: red; */
  margin-top: 5%;
  margin-right: 2%;
  width: 30%;
  height: 70%;
  display: inline-flex;
}
div.divfrontend p{
  /* text-align: center; */
  margin: auto;
  font-size: 1.2vw;
  bottom: 0;
}
img.logosfrontend{
  height: 50%;
  margin: auto;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}
img.logosfrontend:hover{
  transform: rotate(15deg);
}

@media (max-width:780px){
  div#project,div#project2,div#project3{
    height: 480px;
  }
  #gallery,#galleryVid,#galler{
    height: 50%;
  }
  #galler{
    height: 20%;
  }
}

  /* Galeria */
  
  .gallery,#galler{
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    width: 80%;
    margin: auto;
    height: 80%;
    /* max-height: 28vw; */
    overflow: hidden;
  }
  
  .gallery__stream,.gallery__stream2,.gallery__stream3 {
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
  }
  
  .gallery__item,.gallery__item2,.gallery__item3 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 1s all ease;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
  }

  @media only screen and (max-width: 600px){
    iframe{ width: 40%;
            height: 40%;
    }
  }

  @media screen and (max-width: 800px){
    iframe{ width: 60%;
            height: 60%;
    }
  }


  /* Itens */

  .gallery__item:nth-child(1),.gallery__item2:nth-child(1),.gallery__item3:nth-child(1){
    left: 0;
    z-index: 1;
    transform: translateX(-100%) scale(.8);
  }
  
  .gallery__item:nth-child(2),.gallery__item2:nth-child(2),.gallery__item3:nth-child(2) {
    left: 0;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
  }
  
  .gallery__item:nth-child(3),
  .gallery__item2:nth-child(3),
  .gallery__item3:nth-child(3){
    left: 50%;
    z-index: 4;
    transform: translateX(-50%) scale(1);
  }
  
  .gallery__item:nth-child(4),
  .gallery__item2:nth-child(4),
  .gallery__item3:nth-child(4){
    left: 100%;
    z-index: 2;
    transform: translateX(-50%) scale(.8);
  }
  
  .gallery__item:nth-child(n+5),
  .gallery__item2:nth-child(n+5),
  .gallery__item3:nth-child(n+5){
    left: 100%;
    z-index: 1;
    transform: scale(.8);
  }

  h1.tit-sub-proj{
      width: 90%;
      margin: auto;
      font-size: 140%;
      padding: 20px 20px 0px 20px;
      color: aliceblue;
  }

img.bg1{
  width: 40%;
  border-radius: 5px;
}

  img.bg2{
      width: 35%;
      border-radius: 5px;
  }

  img.bg3{
      width: 35%;
      border-radius: 5px;
    }

  img.bg4{
    width: 30%;
    border-radius: 5px;
  }

  img.bg5{
    width: 40%;
    border-radius: 5px;
  }

  img.bg6{
    width: 45%;
    border-radius: 5px;
  }
  
  img.bgA{
    width: 30%;
    border-radius: 5px;
  }

img.bgB{
  width: 40%;
  border-radius: 5px;
}

img.bgC{
  width: 60%;
  border-radius: 5px;
}

  img.bgD{
    width: 40%;
    border-radius: 5px;
  }

  img.bgE{
    width: 45%;
    border-radius: 8px;
  }

  img.bgF{
    width: 45%;
    border-radius: 8px;
  }
  
article#welcome{
    width: 30%;
    height: 10%;
    margin: auto;
    background-color: rgb(255, 221, 221);     
}

h1#welcome{
    font-family: 'Verdana';
    font-style: italic;
    font-size: 8pt;
    text-align: center;
    background-color: aqua;
}

img.icon-freelP{
  width: 90px;
}

  /* Controles */

.gallery__prev,
.gallery__next,
.gallery__prev2,
.gallery__next2,
.gallery__prev3,
.gallery__next3{
  position: absolute;
  top: 50%;
  z-index: 4;
  width: 50%;
  height: 100%;
  transform: translateX(-50%) translateY(-50%) scale(.8);
  cursor: pointer;
}

.gallery__prev,.gallery__prev2,.gallery__prev3 {
  left: 0;
}

.gallery__next,.gallery__next2,.gallery__next3 {
  left: 100%;
}

/* Sombras */

.gallery:before,
.gallery:after,#galler:before,#galler:after{
  display: block;
  content: "";
  position: absolute;
  top: 0;
  width: 20%;
  height: 100%;
   z-index: 3;
}

#gallery:before {
  left: 0;
  background:  linear-gradient(to right, rgba(43, 24, 54,1) 0%, rgba(43, 24, 54,0) 100%);
}

#gallery:after{
  right: 0;
  background:  linear-gradient(to left, rgba(43, 24, 54,1) 0%, rgba(43, 24, 54,0) 100%);
}

#galleryVid:before {
  left: 0;
  background:  linear-gradient(to right, rgba(79,27,109,1) 0%, rgba(79,27,109,0) 100%);
}

#galleryVid:after{
  right: 0;
  background:  linear-gradient(to left, rgba(79,27,109,1) 0%, rgba(79,27,109,0) 100%);
}

.gallery:before,#galler:before{
  left: 0;
  background:  linear-gradient(to right, rgba(72, 57, 81,1) 0%, rgba(72, 57, 81,0) 100%);
}

.gallery:after,#galler:after{
  right: 0;
  background:  linear-gradient(to left, rgba(72, 57, 81,1) 0%, rgba(72, 57, 81,0) 100%);
}

iframe{
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.548);
  transition: box-shadow .1s ease-in-out;
}

iframe:hover{
  box-shadow: 20px 15px 30px rgba(0, 0, 0, 0.548);
}