img.ab-miguel{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    border: 5px solid white;
    box-shadow: 2px 5px 5px rgba(147, 147, 209, 0.459);
    transition: width ease-in-out 1s, height ease-in-out 1s, filter ease-in-out 1s;
}

img.ab-miguel:hover{
    width: 100px;
    height: 100px;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(121, 127, 209, 0.2));
    
}

a:hover{
    text-decoration: none;
    text-decoration-style: none;
}

p.desc{
    color: rgb(40, 40, 58);
    font-size: 70%;
    margin: auto;
    margin-bottom: 20px;
    margin-left: 10%;
    width: 80%;
    text-align: justify;
    /* background-color: aqua; */
    /* margin-left: auto; */
}

h1#carreerb,h1#carreerc{
    cursor: pointer;
    text-align: left;
    padding-left: 10%;
}

div#baixo-esq{
    width: 50%;
    float: left;
}

p#linkproj{
    padding: 8%;
}

div#baixo-esq-cima{
    
    animation: surgir2;
    animation-duration: 3s;
    background-color: blueviolet;
    padding: 4%;
    border-radius: 40px;
}

div#baixo-esq-cima ul li{
    color: aliceblue;
    opacity: 1;
    animation: surgir;
    animation-duration: 4s;
    padding: 10px;
    margin-bottom: 10px;
    /* margin: auto; */
    margin-left: 8%;
    text-align: left;
    font-size: 130%;
    /* background-color: blue;   */
    /* list-style: none; */
}

div#baixo-dir ul li{
    color: rgb(139, 134, 100);
    opacity: 1;
    animation: surgir;
    animation-duration: 4s;
    padding-bottom: 25px;
    text-align: left;
    /* background-color: aquamarine; */
}

div#baixo-dir{
    width: 45%;
    font-size: 14pt;
    float: right;
    animation: surgir2;
    animation-duration: 3s;
    background-color: rgb(7, 18, 37);
    padding: 20px 20px 0px 20px;
    border-radius: 30px 0px 30px 30px;
}

div.tudo{
    /* background-color: aquamarine; */
    width: 88%;
    margin: auto;
    padding-bottom: 30px;
}

img.icon-apps{
    width: 10%;
    transition: .4s ease-in-out;
}

img.icon-apps:hover{
    transform: rotate(-10deg);
    transition: transform .2s ease-in-out;
}

img.icon-lan{
    width: 8%;
    transition: transform .2s ease-in-out;
}

img.icon-lan:hover{
    transform: scale(1.2);
    transition: transform .1s ease-in-out;
}

div.barra{
    width: 50%;
    height: 10px;
    float: right;
    background: repeating-linear-gradient(
        -55deg,
        rgb(39, 38, 38),
        rgb(39, 38, 38) 3px,
        rgb(39, 38, 38) 3px,
        rgb(116, 116, 116) 5px
      );
    border: #fff 1pt solid;
    animation: surgir3;
    animation-duration: .1s;
}

div.progressps{
    width: 80%;
    background-color: rgb(57, 140, 235);
    height: 7.2px;
    border-radius: 0;
    animation: abrirprogressps;
    animation-duration: 5s;
}

div.progressai{
    width: 55%;
    background-color: rgb(57, 140, 235);
    height: 7.2px;
    border-radius: 0;
    animation: abrirprogressai;
    animation-duration: 5s;
}

div.progressid{
    width: 30%;
    background-color: rgb(57, 140, 235);
    height: 7.2px;
    border-radius: 0;
    animation: abrirprogressid;
    animation-duration: 5s;
}

div.progressae{
    width: 20%;
    background-color: rgb(57, 140, 235);
    height: 7.2px;
    border-radius: 0;
    animation: abrirprogressae;
    animation-duration: 5s;
}

li.tools{
    list-style: none;
}

li.lan{
    display: inline;
    padding-right: 10px;
}    

section{
    display: inline-block;
    width: 100%;
    /* height: 80%; */
}

img.icon-freel{
    width: 12%;
    margin: auto;
}

img.icon-acad{
    width: 80px;
    padding-bottom: 25px;
    transition: transform .2s ease-in-out;
}

img.icon-grad{
    width: 50px;
    transition: transform .2s ease-in-out;
}

img.icon-acad1{
    width: 83px;
    padding-bottom: 25px;
    transition: transform .2s ease-in-out;
}

img.icon-setab, img.icon-setac{
    width: 20px;
    opacity: .5;
}

img.icon-acad:hover, img.icon-acad1:hover, img.icon-grad:hover{
    transform: scale(1.2);
    transition: transform .3s ease-in-out;
}

p#ab-titulo-dir{
    font-family: "Baskerville", serif;
    font-size: 32pt;
    font-style: bold;
    padding: 4% 0 0 0;
    color: rgb(104, 93, 93);
    /*background-color: rgb(76, 171, 235);*/
    float: right;
}

#baixo{
    background-color: rgb(81, 81, 107);
    /* position: relative; */
    margin: auto;
    width: 88%;
    height: 570px;
    display: none;
    animation: abrir;
    animation-duration: 1s;
    border-radius: 0px 0px 20px 20px;
    padding: 20px 20px 20px 20px;
    /* transition: all .5s ease-in-out; */
}

h1#skill{
    font-size: 18pt;
    color: rgb(187, 159, 124);
}

#cima{
    background-color: rgba(151, 151, 151, 0.315);
    position: relative;
    border-radius: 0 0 20px 20px;
    margin: auto;
    width: 88%;
    height: 300px;
    padding-top: 20px;
    display: none; 
    font-family: Roboto;       
}

div#cima-esq{
    width: 45%;
    /* height: 90%; */
    margin: auto;
    float: left;
    margin-left: 4%;
    /* background-color: antiquewhite; */
}

div#cima-esq ul li{
    list-style: none;
    text-align: left;
    transition: font-size .2s ease-in-out;
}


div#cima-esq ul li:hover{
    font-size: 16pt;
    color: black;
    transition: font-size .2s ease-in-out;
}

p.univ{
    font-size: 9pt;
    text-align: left;
    padding-left: 12%;
    opacity: .4;
}

p.univ:hover{
    opacity: .72;
}

html{
    scroll-behavior: smooth;
}

div#cima-dir{
    width: 42%;
    float: right;
    margin: auto;
    font-family: 'Roboto';
    /* height: 80%; */
    margin-right: 4%;
    /* background-color: aquamarine; */
}

div#cima-dir ul li{
    list-style: none;
    /* margin-right: 120px; */
    margin: 5%;
    margin-right: 2%;
    text-align: center;
    display: inline;

}

#cima-dir h1{
    font-size: 18pt;
    padding: 0 5px 5px 5px;
    text-align: center;
}

div#timeline{
    width: 40%;
    height: 6px;
    float: right;
    margin-right: 4%;
    margin-top: 5%;
    border-radius: 10px;
    background-color: rgb(81, 103, 124);
}

div#baixo-esq-baixo{
    padding: 1%;
}

footer.foot{
    position: static;
    bottom: 0;
}

/* @keyframes abrir{
    0% {height: 0;}
    100% { height: 300px;}
}*/

@keyframes abrirprogressps{
    0%{ width: 0%; }
    100% { width: 80%;}
}

@keyframes abrirprogressai{
    0%{ width: 0%; }
    100% { width: 55%;}
}

@keyframes abrirprogressid{
    0%{ width: 0%; }
    100% { width: 30%;}
}

@keyframes abrirprogressae{
    0%{ width: 0%; }
    100% { width: 20%;}
}

@keyframes surgir{
    0% {opacity: 0;}
    100% { opacity: 1;}
}

@keyframes surgir2{
    0% {opacity: 0;}
    12% {opacity: 0;}
    100% { opacity: 1;}
}  

@keyframes surgir3{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% { opacity: 1;}
}  